<div class="center jumbotron">
	<h1>Welcome</h1>
	<h2>This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application</h2>

	<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-success' %>
</div>

<section class="well">
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/', class: 'img-responsive' %>
		</div>
		<div class="col-xs-12 col-md-10">
			<p>Tumeric chicharrones letterpress, pickled post-ironic everyday carry vice semiotics. Farm-to-table vinyl try-hard, 3 wolf moon pabst pok pok listicle succulents poke shoreditch tousled franzen distillery. Hot chicken tilde franzen occupy banh mi truffaut, you probably haven't heard of them tattooed selvage tofu viral knausgaard fanny pack mlkshk etsy.</p>
			<p> <a href="http://www.pabstblueribbon.com" taget="_blank">Pabst</a> photo booth waistcoat, neutra tousled poke vice +1 brunch synth. Hoodie bushwick health goth PBR&amp;B. Fixie lomo twee activated charcoal wayfarers, ennui selvage poke beard kombucha health goth YOLO photo booth post-ironic. Offal chambray next level, man braid cold-pressed gochujang kombucha green juice chia messenger bag.</p>
		</div>
	</div>
</section>

