<footer class="footer">
		<row>
			<div class="col-md-6">
				
				<small class="pull-left"> &nbsp;The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	 by <a href="http://www.michaelhartl.com/">Michael Hartl</a></small>
			</div>
			<div class="col-md-6">
				<nav>
					<ul class="navbar-nav nav navbar-right">
						 <li><%= link_to "About",  about_path %></li>
			     		 <li><%= link_to "Contact", contact_path %></li>
			      		 <li><a href="http://news.railstutorial.org/">News</a></li>
					</ul>
				</nav>
			</div>
		</row>
</footer>